html,
body {
  margin: 0;
  height: 100vh;
}
main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 /*  background-color: #121212; */
 /*  color: #fffc; */
}
/* * {
  background-color: #00f2;
  outline: 1px solid red;
} */
.release-date {
  margin: 3px;
  position: fixed;
  right: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
/*   color: #fffc; */
  opacity: 0.3;
}
.flex-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
h1,
.guide {
  cursor: default;
}

input[type="text"] {
 /*  opacity: 0.7; */
  outline: none;
  font-weight: bold;
}
button {
  opacity: 0.87;
}
.guide span {
  position: fixed;
  margin-left: 0.5em;
  opacity: 0.3;
}

.log {
  position: relative;
  font-family: "HackRegular", Consolas, "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 15px;
  height: 200px;
  width: -webkit-fill-available;
  overflow-y: auto;
  border: 5px solid #0f0;
  border-radius: 10px;
  background-color: #000;
  color: #0f0;
  padding: 0.5em;
  scroll-padding-bottom: 1em;
}

.log::-webkit-scrollbar,
.log::-webkit-scrollbar-thumb,
.log::-webkit-scrollbar-track {
  width: 5px;
  background-color: #0f05;
  border-radius: 15px;
  box-shadow: inset 0 0 6px #0005;
}

.log::-webkit-scrollbar-thumb {
  background-color: #0f0;
}

.download-in-progress {
  background-color: #fff5;
}
.download-finished {
  background-color: #0f05;
}

.chunk-size-box {
  display: inline-flex;
  border: solid #000;
  border-width: 1px 0px;
}
.chunk-size-box > * {
  text-align: center;
  padding: 0;
}
input[type="number"] {
 /*  opacity: 0.8; */
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 1.1rem;
  margin: 0;
  padding: 1px 0;
  cursor: default;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.chunk-size-box > button {
  border: solid #000;
  border-width: 0px 1px;
  margin: 0;
  width: 1rem;
}
.pending-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 0 240px 0;
  width: 35px;
  height: 35px;
}
